@import "tailwindcss";

@theme {
  --color-safari-50: #f2f4e8;
  --color-safari-100: #e5e9d3;
  --color-safari-200: #ced4ab;
  --color-safari-300: #b0b87c;
  --color-safari-400: #8a9455;
  --color-safari-500: #6A760C;
  --color-safari-600: #535c09;
  --color-safari-700: #3f4607;
  --color-safari-800: #2c3105;
  --color-safari-900: #1a1d03;
}
